*{
    border: 0px;
    margin: 0%;
    padding:0px;

}
.banner {
    position: relative;
    background-image:linear-gradient(rgba(241, 113, 9, 0.63),rgba(0, 0, 0, 0.5)),url(2eeed5a33a7c85e37cf349933c1c5b67.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent;
    width: 100em;
    height:70em;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    

}
.logo{
    width: 120px;
}


.navbar ul li{
    justify-content:space-evenly;
    display: inline-block;
    cursor: pointer;

}
.navbar ul li a{
    text-decoration: none;
    padding: 5px 20px;
    color: black;
}

ul li a:hover{
    background-color: bisque;
    color: black;  
    transition: 0.5s; 
    
}
ul li.active a{
    background-color: bisque;
    color: black;
}

.title{
    position:absolute;
    top: 20%;
    left: 30%;
    color: beige;
    transform: translate(-10%,10%);
    text-align: center;
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
  
}
.content {
    width: 100%;
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-10%);
    font-family: 'Times New Roman', Times, serif;
    color: burlywood;
    font-size: 30px;
}
button{
   width: 200px;
   padding: 15px; 
   margin: 0px ;
   margin: 20px 10px;
   text-align:center;
   font-weight:bold;
   border-radius: 60px;
   border: 2px solid #ff8615bd;
   background: transparent;
   color:black;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
span{
    background:  antiquewhite;
    height: 100%;
    width: 0;
    border-radius: 60px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
} 

button:hover span{
    width: 100%;
}
button:hover{
    border: none;

}

   





    
